body{
	background-image: url("background.png");
	font-family: "Georgial";
}

table, td, th{
	border-collapse: collapse;
	border: 1px solid black;
	text-align: center;
}
table{
	width: 80%;
	margin-right: 10%;
	margin-left: 10%;
}

td, th{
	padding: 10px;
}

td{
	width: 33%;
}

a:hover{
	color: red;
}

li{
	padding: 4px
}

.tableback1{
	background-color: #C2D3DA;
}

.tableback2{
	background-color: #DCD9C6;
}

.container{
	margin-left: calc(50vw - 450px);
	max-width: 900px;
}

.frontcontainer{
	overflow: hidden;
}

.tabholder{
	display: flex;
}

	.tabholder button:hover{
		background-color: #aad;
	}

.tab{
	border: 1px solid gray;
	padding: 10px 40px;
	font-size: 18px;
	font-weight: bold;
	width: 100%;
	display: block;
}

.top{
	overflow: hidden;
	position: relative;
}

.homepageheader{
	font-size: 30px;
	font-weight: 500;
	float: right;
	line-height: 136px;
}

.danhtranimg{
	float: right;
	height: 200px;
	width: auto;
}
	
.gsuimg{
	width: auto;
	height: 120px;
	float: left;
}

.subheading1{
	color: #0039A6;
	font-size: 24px;
	font-weight: 600;
	text-align: center;
}

.subheading2{
	font-size: 18px;
	font-weight: 700;
}

.subheading3{
	font-size: 18px;
	font-weight: 700;
	text-decoration: underline;
}

.iconcontainer{
	width: 64px;
	height: 128px;
	float: right;
	margin-right: 50px;
}

.img64{
	width: auto;
	height: 64px;
	padding: 16px 0;
}

.movie{
	width: 50%;
	float: left;
}

.shows{
	width: 50%;
	float: right;
}

.quote{
	font-style: italic;
}

ol.dot{
	list-style-type: inherit;
}

/*Resume Specific*/

.resumeheader1{
	font-weight: 500;
	font-size: 30px;
}

.resumeheader2{
	font-weight: 500;
	font-size: 24px;
	padding-top: 2px;
	padding-bottom: 5px;
	color: #05386B;
}

.rfrontcontainer{
	overflow: hidden;
	background-color: white;
	padding-top: 5px;
}

.resumeleft{
	height: auto;
	float: left;
	width: 30%;
	border-right: 1px solid;
	border-right-color: #00b3b3;
	margin-left: 10px;
}

.resumeright{
	height: auto;
	float: right;
	width: 67%;
	margin-right: 10px;
}

.resumetop{
	overflow: hidden;
	position: relative;
	background: #5CDB95;
	padding-bottom: 10px;
	padding-left: 8px;
	padding-top: 2px;
}

.contact{
	width: 100%;
	height: 32px;
	background-color: #8EE4AF;
	display: flex;
	justify-content: space-evenly;
	border-top-color: black;
	border-top: 1px solid;
}

.contact span{
	color: #05386B;
	font-size: 12px;
	padding-top: 8px;
}

.contactimg{
	height: 16px;
	width: 16px;
	padding-top: 8px;
}

.rsubheading1{
	color: #00b3b3;
	font-size: 24px;
	font-weight: 500;
	text-decoration: underline;
}

.rsubheading2{
	font-size: 26px;
	font-weight: 500;
}

.rsubheading3{
	color: #00b3b3;
	font-weight: 600;
}

.rsubheading4{
	font-size: 20px;
}

.dateheading1{
	float: right;
	font-size: 12px;
}

.danhtranimg2{
	position: absolute;
	top: 0;
	right: 5px;
	height: 150px;
	width: 150px;
	border-radius: 50%;
	border: 3px solid;
	border-color: #05386B;
}

ul.sub{
	font-size: 16px;
}

.objective{
	padding-top: 5px 0;
	max-width: 70%;
}