.artist{
	font-size: 14px;
	font-family: arial;
	font-weight: bold;
	color: moccasin;
}
		
.songtitle{
	font-size: 14px;
	font-family: arial;
	color: khaki;
}
		
.album{
	font-size: 12px;
	font-family: arial;
	color: khaki;
}
		
.year{
	font-size: 12px;
	font-family: arial;
	font-weight: bold;
	color: ivory;
}
		
.background{
	background-color: chocolate;
}
		
.verse{
	font-size: 14px;
	font-family: "trebuchet ms";
	font-weight: bold;
	color: gold;
	margin-left: 2cm;
	margin-right: 2cm;
}
		
.chorus{
	font-size: 14px;
	font-family: "trebuchet ms"
	font-weight: bold;
	font-style: italic;
	color: gold;
	margin-left: 4cm;
	margin-right: 4cm;	
}